/*
!/rbff2training
!README.md
!LICENSE.md
!.gitignore
*.bak*
/rbff2training/capture/*
/rbff2training/capture/tp/*
!/rbff2training/capture/.gitkeep
!/rbff2training/capture/tp.bat
!/rbff2training/capture/tp/.gitkeep
rbff2training/cheat/output.xml
rbff2training/rxrepl.exe
